<div class="group-details-container">
    @if (isLoading) {
        <p>Loading group details...</p>
    } @else {
        <mat-card>

            <div style="display: flex; align-items: center; justify-content: center; padding: 10px; text-align: center;">
                <img src="{{ challenge.imageUrl }}" alt="Descripción de la imagen" style="border-radius: 10px; max-width: 30%; height: 100px;">
                <div>
                    <mat-card-header>
                        <mat-card-title>{{ challenge.title }}</mat-card-title>
                        <mat-card-subtitle>Group Details</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p><strong>Description:</strong> {{ challenge.description }}</p>
                        <p>Dead line de este challenge: {{challenge.deadline}}</p>
                    </mat-card-content>
                </div>
            </div>
            <mat-card-content>

                <!-- Añadir lista de submissions aquí -->
                <app-submission-card-list [currentChallengeId]="challenge.id"></app-submission-card-list>

            </mat-card-content>


            <div *ngIf="tempUser.role === 'student'" class="submission-container">
                <!--<button mat-raised-button color="primary" (click)="resetAttempts()">Reiniciar intentos</button>-->
                <button mat-raised-button color="accent" (click)="toggleSubmissionForm()" [disabled]="remainingAttempts === 0">Create Submission</button>
                <p>remaining Attempts: {{ remainingAttempts }}</p>
                <p *ngIf="remainingAttempts === 0">You dont have remaining attempts for this challenge</p>
                <div *ngIf="isSubmissionFormVisible" class="submission-form-container">
                    <form (ngSubmit)="createSubmission()">
                        <mat-form-field>
                            <textarea matInput [(ngModel)]="challengeToSubmit.content" name="description" placeholder="Colocar aqui su resolucion." required></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit">Enviar</button>
                        <button mat-raised-button color="warn" type="button" (click)="toggleSubmissionForm()">Cancelar</button>
                    </form>
                </div>
            </div>

            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/dashboard">Back to Groups</button>
            </mat-card-actions>

        </mat-card>
    }
</div>