<div class="group-details-container">
    @if (isLoading) {
        <p>Loading group details...</p>
    } @else {
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ challenge.title }}</mat-card-title>
                <mat-card-subtitle>Group Details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Description:</strong> {{ challenge.description }}</p>
                <p>Dead line de este challenge: {{challenge.deadline}}</p>


                <!-- Añadir lista de submissions aquí -->
                <app-submission-card-list [currentChallengeId]="challenge.id"></app-submission-card-list>

            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/home">Back to Groups</button>
            </mat-card-actions>
            <div *ngIf="tempUser.role === 'student'">
                <button mat-raised-button color="accent" (click)="toggleSubmissionForm()">Crear Submission</button>
                <div *ngIf="isSubmissionFormVisible" class="submission-form-container">
                    <form (ngSubmit)="createSubmission()">
                        <mat-form-field>
                            <textarea matInput [(ngModel)]="challengeToSubmit.content" name="description" required></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit">Enviar</button>
                        <button mat-raised-button color="warn" type="button" (click)="toggleSubmissionForm()">Cancelar</button>
                    </form>
                </div>
            </div>
        </mat-card>
    }
</div>