<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <h2>Navigation</h2>
    @for (option of options; track option.label) {
      <p><a mat-button [routerLink]="option.link" routerLinkActive="active">{{ option.label }}</a></p>
    }
      <p><a mat-button routerLink="/login" (click)="LogOut(); drawer.toggle()">Log Out</a></p>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="mat-toolbar">
          <mat-toolbar color="primary">
              @if (IsUserConnected()) {
                  <button (click)="drawer.toggle()"
                          aria-label="Toggle Sidenav"
                          mat-icon-button
                          type="button">
                      <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
                  </button>
              }
              <h1 style="padding-left: 60px">EduHive</h1>
              <div class="spacer"></div>
              <app-language-switcher></app-language-switcher>
          </mat-toolbar>
      </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
