.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;

}

.dialog h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.dialog p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}